html, body, div {
    /* Height and width fallback for older browsers. */
    background-color: orangered;

    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}

h1 {
    margin-left:auto;
    margin-right:auto;
}

.results {
    height: 75px;
    padding: 20px;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 25px;
    border-style: dashed;
    border-color: white;
    font-size: 45px;
    color: whitesmoke;
    text-align: center;
}